<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="places.rohitksingh.com.movie_app_mangoose">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
